<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Contato</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./about_angular.css">

    <link rel="stylesheet" href="../../style/footer/footer.css">
    <link rel="stylesheet" href="../../style/navbar/navbar.css">
    <link rel="stylesheet" href="../../style/general.css">
    
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-bar__list">
            <li class="nav-bar__element transition-5 main-box-shadow">
                <a href="../../index.html">Inicio</a>
            </li>
            <li class="nav-bar__element transition-5 main-box-shadow">
                <a href="../about/about-me.html" >Sobre mim</a>
            </li>
            <li class="nav-bar__element transition-5 main-box-shadow">
                <a href="../educational_background/educational_background.html">Formação</a>
            </li>
            <li class="nav-bar__element transition-5 main-box-shadow">
                <a href="../professional/professional.html">Atuação profissional</a>
            </li>
            <li class="nav-bar__element transition-5 main-box-shadow">
                <a href="../contact/contact.html">Contato</a>
            </li>
            <li class="nav-bar__element transition-5 main-box-shadow">
                <a href="../portfolio/portfolio.html">Portfolio</a>
            </li>
            <li class="nav-bar__element transition-5 main-box-shadow nav-bar__element--active">
                <a href="./about_angular.html">Angular</a>
            </li>
        </ul>
    </nav>

    <main class="about-angular">
        <section>
            <div class="about-angular__head">
                <h1 class="head-txt font-linear-gradient">Angular</h1>
                <a 
                    class="transition-5" 
                    href="http://www.angular.io" 
                    target="_blank">
                    <img src="../../assets/icons/Angular_icon.png">
                </a>
            </div>
            <div class="about-angular__content">
                <article class="about-angular__item">
                    <h2 class="font-linear-gradient">Prós</h2>
                    <ul>
                        <li><p>Um dos maiores frameworks Javascript para desenvolvimento de SPAS</p></li>
                        <li><p>Exige uma arquitetura desacoplada</p></li>
                        <li><p>Possui integracao nativa com injeção de dependência</p></li>
                    </ul>
                </article>
                <article class="about-angular__item">
                    <h2 class="font-linear-gradient">Contras</h2>
                    <ul>
                        <li><p>Alta curva de aprendizado</p></li>
                        <li><p>Profissionais qualificados são dificeis de achar</p></li>
                        <li><p>Alto custo para manter profissionais</p></li>
                    </ul>
                </article>
                <article class="about-angular__item">
                    <h2 class="font-linear-gradient">Quem utiliza?</h2>
                    <ul>
                        <li><p>Microsoft Office, Santander</p></li>
                        <li><p>Gmail, Forbes, PayPal</p></li>
                        <li><p>Samsung</p></li>
                    </ul>
                </article>
            </div>
        </section>
    </main>


    <footer class="footer-container">
        <a href="#" class="footer-container__icon-link transition-5 main-box-shadow">
            <img 
               class="icon"
               src="../../assets/icons/Github_icon.png">
        </a>
        <a href="#" class="footer-container__icon-link transition-5 main-box-shadow">
            <img 
                class="icon"
                src="../../assets/icons/Instagram_icon.png">
        </a>
        <a href="#" class="footer-container__icon-link transition-5 main-box-shadow">
            <img 
                class="icon"
                src="../../assets/icons/Linkedin_icon.png">
        </a>
    </footer>
</body>
</html>