.default-btn {
  width: 50%;
  background: rgb(14, 120, 195);
  background: linear-gradient(
    90deg,
    rgba(14, 120, 195, 1) 19%,
    rgba(1, 79, 134, 1) 67%
  );
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 3rem;
}

.default-btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.default-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  list-style: none;
}

.default-list li {
  font-size: 2.2rem;
}

.articles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14rem;
  margin-top: 2rem;
}

.articles__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 30rem;
}

.articles__item a {
  font-size: 1.8rem;
}

.articles__item img {
  width: 16rem;
  height: 13rem;
}

.articles__item h2 {
  font-size: 3.6rem;
  font-weight: 800;
}

.articles__item p {
  font-size: 2.4rem;
  font-weight: 300;
  color: #909ea6;
}

.articles__item a {
  text-decoration: none;
}
