.default-btn {
  width: 50%;
  background: rgb(14, 120, 195);
  background: linear-gradient(
    90deg,
    rgba(14, 120, 195, 1) 19%,
    rgba(1, 79, 134, 1) 67%
  );
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  padding: 15px 20px;
  border: none;
  border-radius: 30px;
}

.default-btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.default-list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  list-style: none;
}

.default-list li {
  font-size: 22px;
}

.articles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 140px;
  margin-top: 20px;
}

.articles__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 300px;
}

.articles__item img {
  width: 160px;
  height: 130px;
}

.articles__item h2 {
  font-size: 36px;
  font-weight: 800;
}

.articles__item p {
  font-size: 24px;
  font-weight: 300;
  color: #909ea6;
}

.articles__item a {
  text-decoration: none;
}
