body {
    font-family: 'Roboto', sans-serif;

 }
 
 * {
     margin: 0;
     padding: 0;
 }

.margin-25 {
    margin-top: 25px;
}

.icon {
    height: 100%;
    filter: invert(1);
}

.transition-5 {
    transition: .5s;
}

.main-box-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}