@media (max-width: 1280px) {
  .head-txt {
    font-size: 6.4rem;
  }

  .default-list li {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 940px) {
  .nav-container {
    height: 5vh;
  }

  .nav-container__list {
    display: none;
  }

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 20px;
    height: auto !important;
  }

  section {
    text-align: center;
  }

  .footer-container {
    position: fixed;
    bottom: 0;
    height: 5vh;
  }

  .footer-container__icon-link {
    height: 62%;
  }
}
