<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <meta name="description" content="Mensagens de contato para Gustavo" />

    <link rel="stylesheet" href="./messages.css" />

    <link rel="stylesheet" href="../../style/footer/footer.css" />
    <link rel="stylesheet" href="../../style/navbar/navbar.css" />
    <link rel="stylesheet" href="../../style/general.css" />
    <link rel="stylesheet" href="../../style/components.css" />
    <link rel="stylesheet" href="../../style/media-queries.css" />
    <link rel="stylesheet" href="../../style/animation.css" />

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <link
      rel="icon"
      type="image/x-icon"
      sizes="32x32"
      href="../../assets/favicon/favicon-32x32.png"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../assets/favicon/favicon-16x16.png"
    />

    <title>Portfolio - Mensagens</title>

    <script defer src="../../actions/navbar/navBar.js"></script>
    <script defer type="module" src="../../usecases/Messages.js"></script>
    <script
      defer
      type="module"
      src="../../actions/messages/setMessages.js"
    ></script>
    <script defer type="module" src="../../actions/messages/toggle.js"></script>
  </head>
  <body>
    <header>
      <nav class="nav-container">
        <ul class="nav-container__list">
          <li class="nav-container__element transition-5 default-box-shadow">
            <a href="../../">Inicio</a>
          </li>
          <li class="nav-container__element transition-5 default-box-shadow">
            <a href="../about/about-me.html">Sobre mim</a>
          </li>
          <li class="nav-container__element transition-5 default-box-shadow">
            <a href="../educational_background/educational_background.html"
              >Formação</a
            >
          </li>
          <li class="nav-container__element transition-5 default-box-shadow">
            <a href="../professional/professional.html">Atuação profissional</a>
          </li>
          <li class="nav-container__element transition-5 default-box-shadow">
            <a href="../contact/contact.html">Contato</a>
          </li>
          <li class="nav-container__element transition-5 default-box-shadow">
            <a href="../portfolio/portfolio.html">Portfolio</a>
          </li>
          <li class="nav-container__element transition-5 default-box-shadow">
            <a href="../about_angular/about_angular.html">Angular</a>
          </li>
          <li
            class="nav-container__element transition-5 nav-container__element--active default-box-shadow"
          >
            <a href="./messages.html">Mensagens</a>
          </li>
        </ul>
        <div class="nav-container__responsive">
          <div class="nav-container__hamburguer">
            <div class="nav-container__hamburguer-el"></div>
            <div class="nav-container__hamburguer-el"></div>
            <div class="nav-container__hamburguer-el"></div>
          </div>
          <ul
            class="nav-container__hamburguer-content animation-slide-l-r disabled"
          >
            <div class="nav-container__hamburguer-close">
              <button class="default-btn">X</button>
            </div>
            <li><a href="../../">Inicio</a></li>
            <li><a href="../about/about-me.html">Sobre mim</a></li>
            <li>
              <a href="../educational_background/educational_background.html"
                >Formação</a
              >
            </li>
            <li>
              <a href="../professional/professional.html"
                >Atuação profissional</a
              >
            </li>
            <li><a href="../contact/contact.html">Contato</a></li>
            <li>
              <a href="../portfolio/portfolio.html">Portfolio</a>
            </li>
            <li><a href="../about_angular/about_angular.html">Angular</a></li>
            <li>
              <a
                class="nav-active-link"
                href="../about_angular/about_angular.html"
                >Mensagens</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="messages-container">
      <ion-icon
        class="default-box-shadow"
        id="clear-message-btn"
        name="trash-sharp"
      ></ion-icon>
      <div class="clear-msg-check-modal disabled">
        <div class="clear-msg-check-modal__card default-box-shadow">
          <img
            src="../../assets/photos/suspicious-billy-photo.png"
            alt="personagem de desenho te olhando"
          />
          <h3>Voce tem certeza disso?</h3>
          <p>
            Todas suas mensagens salvas serão <br />
            deletadas do site! Use com cuidado
          </p>
          <button id="keep">Nao! mante-las a salvo!</button>
          <button id="delete">Sim! deletar tudo!</button>
        </div>
      </div>
      <section class="messages-container__content"></section>
    </main>

    <footer class="footer-container">
      <a
        href="https://github.com/gustavoroc"
        target="_blank"
        class="footer-container__icon-link transition-5 default-box-shadow"
        aria-label="Link para Github"
      >
        <img
          class="icon"
          src="../../assets/icons/Github_icon.png"
          alt="Icone do GitHub"
        />
      </a>
      <a
        href="https://www.instagram.com/"
        target="_blank"
        class="footer-container__icon-link transition-5 default-box-shadow"
        aria-label="Link para Instagram"
      >
        <img
          class="icon"
          src="../../assets/icons/Instagram_icon.png"
          alt="Icone do Instagram"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/gustavo-da-rocha-pereira-2baa4a222/"
        target="_blank"
        class="footer-container__icon-link transition-5 default-box-shadow"
        aria-label="Link para LinkedIn"
      >
        <img
          class="icon"
          src="../../assets/icons/Linkedin_icon.png"
          alt="Icone do Github"
        />
      </a>
    </footer>
  </body>
</html>
