<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./about-me.css">

    <link rel="stylesheet" href="../../style/general.css">
    <link rel="stylesheet" href="../../style/navbar/navbar.css">
    <link rel="stylesheet" href="../../style/footer/footer.css">

    <title>Portfolio - Sobre mim</title>
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-bar__list">
            <li class="nav-bar__element transition-5 main-box-shadow">
                <a href="../../index.html">Menu</a>
            </li>
            <li class="nav-bar__element transition-5 main-box-shadow">
                <a href="./about-me.html" >Sobre mim</a>
            </li>
            <li class="nav-bar__element transition-5 main-box-shadow">
                <a href="../educational_background/educational_background.html">Formação</a>
            </li>
            <li class="nav-bar__element transition-5 main-box-shadow">
                <a href="#">Atuação profissional</a>
            </li>
            <li class="nav-bar__element transition-5 main-box-shadow">
                <a href="#">Contato</a>
            </li>
            <li class="nav-bar__element transition-5 main-box-shadow">
                <a href="#">Portfolio</a>
            </li>
            <li class="nav-bar__element transition-5 main-box-shadow">
                <a href="#">Tecnologias</a>
            </li>
        </ul>
    </nav>

    <main class="about-page-container">

        <section class="about-page-container__principal-information">
            <h1 class="font-linear-gradient head-txt">Sobre mim</h1>
            <ul class="about-page-container__information-list">
                <li>
                    Sou desenvolvedor Front End, morando em <br>Florianopolis - SC
                </li>
                <li>
                    Atualmente curso Sistemas de Informacao, na Universidade Federal de Santa Catarina.
                </li>
                <li>
                    Se não estou codando, gosto de brincar com meu<br> cachorro =)
                </li>
            </ul>
        </section>
        
        <div class="about-page-container__img-container">
            <img 
                src="../../assets/photos/dog-photo.jpg"
                class="about-page-container__img">
        </div>

    </main>

    <footer class="footer-container">
        <a href="#" class="footer-container__icon-link transition-5 main-box-shadow">
            <img 
               class="icon"
               src="../../assets/icons/Github_icon.png">
        </a>
        <a href="#" class="footer-container__icon-link transition-5 main-box-shadow">
            <img 
                class="icon"
                src="../../assets/icons/Instagram_icon.png">
        </a>
        <a href="#" class="footer-container__icon-link transition-5 main-box-shadow">
            <img 
                class="icon"
                src="../../assets/icons/Linkedin_icon.png">
        </a>
    </footer>
</body>
</html>