<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <meta name="description" content="Portfólio profissional de Gustavo" />

    <link rel="stylesheet" href="./portfolio.css" />

    <link rel="stylesheet" href="../../style/footer/footer.css" />
    <link rel="stylesheet" href="../../style/navbar/navbar.css" />
    <link rel="stylesheet" href="../../style/general.css" />
    <link rel="stylesheet" href="../../style/media-queries.css" />
    <link rel="stylesheet" href="../../style/components.css" />
    <link rel="stylesheet" href="../../style/animation.css" />

    <link
      rel="icon"
      type="image/x-icon"
      sizes="32x32"
      href="../../assets/favicon/favicon-32x32.png"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../assets/favicon/favicon-16x16.png"
    />

    <title>Portfolio - Projetos</title>

    <script defer src="../../actions/navBar.js"></script>
  </head>
  <body>
    <header>
      <nav class="nav-container">
        <ul class="nav-container__list">
          <li class="nav-container__element transition-5 default-box-shadow">
            <a href="../../">Inicio</a>
          </li>
          <li class="nav-container__element transition-5 default-box-shadow">
            <a href="../about/about-me.html">Sobre mim</a>
          </li>
          <li class="nav-container__element transition-5 default-box-shadow">
            <a href="../educational_background/educational_background.html"
              >Formação</a
            >
          </li>
          <li class="nav-container__element transition-5 default-box-shadow">
            <a href="../professional/professional.html">Atuação profissional</a>
          </li>
          <li class="nav-container__element transition-5 default-box-shadow">
            <a href="../contact/contact.html">Contato</a>
          </li>
          <li
            class="nav-container__element nav-container__element--active transition-5 default-box-shadow"
          >
            <a href="../portfolio/portfolio.html">Portfolio</a>
          </li>
          <li class="nav-container__element transition-5 default-box-shadow">
            <a href="../about_angular/about_angular.html">Angular</a>
          </li>
        </ul>
        <div class="nav-container__responsive">
          <div class="nav-container__hamburguer">
            <div class="nav-container__hamburguer-el"></div>
            <div class="nav-container__hamburguer-el"></div>
            <div class="nav-container__hamburguer-el"></div>
          </div>
          <ul
            class="nav-container__hamburguer-content animation-slide-l-r disabled"
          >
            <div class="nav-container__hamburguer-close">
              <button class="default-btn">X</button>
            </div>
            <li><a href="../../">Inicio</a></li>
            <li><a href="../about/about-me.html">Sobre mim</a></li>
            <li>
              <a href="../educational_background/educational_background.html"
                >Formação</a
              >
            </li>
            <li>
              <a href="../professional/professional.html"
                >Atuação profissional</a
              >
            </li>
            <li><a href="../contact/contact.html">Contato</a></li>
            <li>
              <a class="nav-active-link" href="../portfolio/portfolio.html"
                >Portfolio</a
              >
            </li>
            <li><a href="../about_angular/about_angular.html">Angular</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="container-2">
      <section>
        <h1 class="head-txt font-linear-gradient center-txt">Portfólio</h1>
        <div class="articles">
          <article class="articles__item">
            <img src="../../assets/icons/coolors_icon.png" />
            <h2 class="font-linear-gradient">Coolors</h2>
            <p>Uma plataflorma web para descobrir cores para seu design</p>
            <a class="font-linear-gradient" href="https://coolors.co/"
              >Saiba mais</a
            >
            <div class="technologies-container">
              <a
                href="https://nodejs.org/en/"
                target="_blank"
                class="font-linear-gradient"
                aria-label="Link para a tecnologia"
              >
                <img
                  src="../../assets/icons/node_icon.png"
                  alt="icone do ambiente node"
                />
              </a>
              <a
                href="https://flutter.dev/"
                target="_blank"
                class="font-linear-gradient"
                aria-label="Link para a tecnologia"
              >
                <img
                  src="../../assets/icons/flutter_icon.png"
                  alt="icone do framework flutter"
                />
              </a>
              <a
                href="https://svelte.dev/"
                target="_blank"
                class="font-linear-gradient"
                aria-label="Link para a tecnologia"
              >
                <img
                  src="../../assets/icons/svelte_icon.png"
                  alt="Icone do framework svelte"
                />
              </a>
            </div>
          </article>

          <article class="articles__item">
            <img src="../../assets/icons/unsplash_logo.png" />
            <h2 class="font-linear-gradient">Unsplash</h2>
            <p>
              Um site de fotos sem copywrite para uso livre em seus projetos
            </p>
            <a class="font-linear-gradient" href="https://unsplash.com/"
              >Saiba mais</a
            >
            <div class="technologies-container">
              <a
                href="https://angular.io/"
                target="_blank"
                class="font-linear-gradient"
                aria-label="Link para a tecnologia"
              >
                <img
                  src="../../assets/icons/Angular_icon.png"
                  alt="Icone do framework angular"
                />
              </a>
              <a
                href="https://getbootstrap.com/"
                target="_blank"
                class="font-linear-gradient"
                aria-label="Link para a tecnologia"
              >
                <img
                  src="../../assets/icons/Bootstrap_logo.svg.png"
                  alt="Icone do framework bootstrap"
                />
              </a>
              <a
                href="https://www.typescriptlang.org/"
                target="_blank"
                class="font-linear-gradient"
                aria-label="Link para a tecnologia"
              >
                <img
                  src="../../assets/icons/Typescript_icon.png"
                  alt="icone da linguagem typescript"
                />
              </a>
            </div>
          </article>

          <article class="articles__item">
            <img src="../../assets/icons/dog_logo.png" />
            <h2 class="font-linear-gradient">Dog Ceo</h2>
            <p>
              Uma API de uso livre para achar fotos de qualquer tipo de cachorro
            </p>
            <a class="font-linear-gradient" href="https://dog.ceo/"
              >Saiba mais</a
            >
            <div class="technologies-container">
              <a
                href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript"
                target="_blank"
                class="font-linear-gradient"
                aria-label="Link para a tecnologia"
              >
                <img
                  src="../../assets/icons/Javascript_icon.png"
                  alt="icone da linguagem javascript"
                />
              </a>
              <a
                href="https://developer.mozilla.org/pt-BR/docs/Web/CSS"
                target="_blank"
                class="font-linear-gradient"
                aria-label="Link para a tecnologia"
              >
                <img
                  src="../../assets/icons/css_icon.png"
                  alt="icone da linguagem de estilo css"
                />
              </a>
              <a
                href="https://developer.mozilla.org/pt-BR/docs/Web/HTML"
                target="_blank"
                class="font-linear-gradient"
                aria-label="Link para a tecnologia"
              >
                <img
                  src="../../assets/icons/Html_icon.png"
                  alt="icone da linguagem de marcação html"
                />
              </a>
            </div>
          </article>
        </div>
      </section>
    </main>

    <footer class="footer-container">
      <a
        href="https://github.com/gustavoroc"
        target="_blank"
        class="footer-container__icon-link transition-5 default-box-shadow"
        aria-label="Link para Github"
      >
        <img
          class="icon"
          src="../../assets/icons/Github_icon.png"
          alt="Icone do GitHub"
        />
      </a>
      <a
        href="https://www.instagram.com/"
        target="_blank"
        class="footer-container__icon-link transition-5 default-box-shadow"
        aria-label="Link para Instagram"
      >
        <img
          class="icon"
          src="../../assets/icons/Instagram_icon.png"
          alt="Icone do Instagram"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/gustavo-da-rocha-pereira-2baa4a222/"
        target="_blank"
        class="footer-container__icon-link transition-5 default-box-shadow"
        aria-label="Link para LinkedIn"
      >
        <img
          class="icon"
          src="../../assets/icons/Linkedin_icon.png"
          alt="Icone do Github"
        />
      </a>
    </footer>
  </body>
</html>
