.professional-xp-container__item {
  display: flex;
  align-items: center;
  gap: 2rem;

  margin-top: 3rem;
}

.professional-xp-container__item img {
  width: 15%;
  max-width: 8.2rem;
}

.professional-xp-container__item p {
  font-size: 2.3rem;
}
